
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button type="button" onclick="location.href = '@Url.Action("ImportarEstampas", "Album")'">Upload Stamps Collection</button>
<button type="button" onclick="location.href = '@Url.Action("ImportarEspeciales", "Album")'">Upload Stamps Checking</button>
<br />
<button type="button" onclick="location.href = '@Url.Action("Details", "Album")'">Details</button>
