@{
    ViewBag.Title = "ImportarEstampas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> UPLOAD DICTIONARY</h2>
<h4>CARGAR ARCHIVO </h4>
@using (Html.BeginForm("ImportarEstampas", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
    @Html.Label(TempData["uploadResult"].ToString())
    <br />
    <button type="button" onclick="location.href = '@Url.Action("Index", "Album")'">Back</button>
}

